/* * {
  box-sizing: border-box;
}

body {
  background: radial-gradient(rgb(255, 255, 255), rgb(220, 220, 220));
}

#leftDisplay {
  font-family: Teko;
  letter-spacing: 2px;
  text-align: center;
  margin: 5rem auto 5rem;
}

h2 {
  letter-spacing: 4px;
  font-size: 2rem;
  margin: 0 auto 1rem;
  color: #696969;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 10px;
  margin: 0 auto 0.8rem;
  color: #ff6600;
}

h3 {
  font-size: 0.8rem;
  margin: 0 auto 1rem;
  color: #7c7c7c;
  line-height: 1rem;
}

#mail_box {
  font-size: 2rem;
  margin: 2rem auto;
}

#signup_mail_box {
  font-size: 2rem;
  margin: 2rem auto;
}

#mailAddress {
  padding: 0.4rem;
  display: block;
  width: 25rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 30px;
}

#signupEmail {
  padding: 0.4rem;
  display: block;
  width: 25rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 30px;
}

#password_box {
  font-size: 2rem;
  margin: 2rem auto;
}

#signup_password_box {
  font-size: 2rem;
  margin: 2rem auto;
}

#password {
  padding: 0.4rem;
  display: block;
  width: 25rem;
  margin: 0 auto;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 30px;
}

#signupPassword {
  padding: 0.4rem;
  display: block;
  width: 25rem;
  margin: 0 auto;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 30px;
}

#signin {
  width: 25rem;
  margin: 0 auto;
  padding: 0.5rem 0 0.1rem;
  background-color: rgb(255, 112, 56);
  color: #fff;
  font-size: 1.8rem;
  border-radius: 30px;
  margin-bottom: 2rem;
}


#signup {
  width: 25rem;
  margin: 0 auto;
  padding: 0.5rem 0 0.1rem;
  background-color: rgb(255, 112, 56);
  color: #fff;
  font-size: 1.8rem;
  border-radius: 30px;
  margin-bottom: 2rem;
}
#signupText{
  color: rgb(255, 112, 56);
}

button {
  font-family: Teko;
  letter-spacing: 0.2rem;
  color: rgb(255, 112, 56);
  box-shadow: 0 10px 8px -4px rgba(0, 0, 0, .2);
}


p {
  font-size: 1rem;
}

input[type="text"]:focus {
  outline: 0;
}

input::-webkit-input-placeholder {
  font-family: Teko;
  letter-spacing: 0.2rem;
  color: rgb(180, 180, 180);
  outline: none;
}

input:-moz-placeholder {
  font-family: Teko;
  letter-spacing: 0.2rem;
  color: rgb(180, 180, 180);
  outline: none;
}

input::-moz-placeholder {
  font-family: Teko;
  letter-spacing: 0.2rem;
  color: rgb(180, 180, 180);
  outline: none;
  outline: none;
}

input:-ms-input-placeholder {
  font-family: Teko;
  letter-spacing: 0.2rem;
  color: rgb(180, 180, 180);
  outline: none;
} */